In [32]:
import pandas as pd
import plotly.express as pe

# index_col ---> set any column as your index column (PRIMARY KEY)
# parse_dates ----> parse and convert date & time properly

In [33]:
link = "https://raw.githubusercontent.com/techficent/PythonDABatch/main/datasets/AAPL.csv"
df = pd.read_csv (link,     index_col='Date',   parse_dates=True  )
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-02-12,17.125357,17.227858,16.705000,16.710714,14.432730,609053200
2013-02-13,16.686071,16.915714,16.543571,16.678928,14.405276,475207600
2013-02-14,16.590000,16.844286,16.572144,16.663929,14.392319,355275200
2013-02-15,16.744642,16.791430,16.425714,16.434286,14.193984,391745200
2013-02-19,16.467857,16.526072,16.208929,16.428213,14.188736,435783600
...,...,...,...,...,...,...
2023-02-06,152.570007,153.100006,150.779999,151.729996,151.498688,69858300
2023-02-07,150.639999,155.229996,150.639999,154.649994,154.414230,83322600
2023-02-08,153.880005,154.580002,151.169998,151.919998,151.688400,64120100
2023-02-09,153.779999,154.330002,150.419998,150.869995,150.639999,56007100
2023-02-10,149.460007,151.339996,149.220001,151.009995,151.009995,57409100

### how to fetch data from a time series (Hour, minutes, seconds, month, days, weeks, years)

In [34]:
df.loc[     "2020-05"     ,   ['Open', "Volume"]          ]

                 Open     Volume
Date
2020-05-01  71.562500  240616800
2020-05-04  72.292503  133568000
2020-05-05  73.764999  147751200
2020-05-06  75.114998  142333600
2020-05-07  75.805000  115215200
2020-05-08  76.410004  133838400
2020-05-11  77.025002  145946400
2020-05-12  79.457497  162301200
2020-05-13  78.037498  200622400
2020-05-14  76.127502  158929200
2020-05-15  75.087502  166348400
2020-05-18  78.292503  135178400
2020-05-19  78.757500  101729600
2020-05-20  79.169998  111504800
2020-05-21  79.665001  102688800
2020-05-22  78.942497   81803200
2020-05-26  80.875000  125522000
2020-05-27  79.035004  112945200
2020-05-28  79.192497  133560800
2020-05-29  79.812500  153532400

In [35]:
df.loc[     "2020-05" :  "2020-07"        ,   ['Open', "Volume"]          ]

                  Open     Volume
Date
2020-05-01   71.562500  240616800
2020-05-04   72.292503  133568000
2020-05-05   73.764999  147751200
2020-05-06   75.114998  142333600
2020-05-07   75.805000  115215200
...                ...        ...
2020-07-27   93.709999  121214000
2020-07-28   94.367500  103625600
2020-07-29   93.750000   90329200
2020-07-30   94.187500  158130000
2020-07-31  102.885002  374336800

[64 rows x 2 columns]

In [36]:
df.loc[     "2020"        ,   ['Open', "Volume"]          ]

                  Open     Volume
Date
2020-01-02   74.059998  135480400
2020-01-03   74.287498  146322800
2020-01-06   73.447502  118387200
2020-01-07   74.959999  108872000
2020-01-08   74.290001  132079200
...                ...        ...
2020-12-24  131.320007   54930100
2020-12-28  133.990005  124486200
2020-12-29  138.050003  121047300
2020-12-30  135.580002   96452100
2020-12-31  134.080002   99116600

[253 rows x 2 columns]

### On average, what was the Open price in the year 2015

##### step 1: find data for 2015
##### step 2: find average using mean

In [37]:
df.loc[     "2015" ,  ["Open"]      ].mean()

Open    30.043938
dtype: float64

### find average, minimum & maximum Open price between July 2020 and December 2020

In [38]:
ops = [     "min",   "max",    "mean"      ]
df.loc[    "2020-07" : "2020-12", ["Open"]    ].agg(     ops     )

            Open
min    90.987503
max   138.050003
mean  114.787207

### RESAMPLE DATA

In [39]:
# for each year from 2013 to 2023 calculate average Open

In [40]:
df.resample(   "Y"   )   [   ['Open']   ].mean()

                  Open
Date
2013-12-31   16.820671
2014-12-31   23.054958
2015-12-31   30.043938
2016-12-31   26.126944
2017-12-31   37.611225
2018-12-31   47.277859
2019-12-31   51.967272
2020-12-31   95.267668
2021-12-31  140.861866
2022-12-31  154.802709
2023-12-31  139.419643

### Average monthly Open price for data in 2022

### step1: fetch data for 2022
### step 2: resample according to month
### step 3: Find the Open column
### step 4: Average calculation

In [41]:
result = df.loc[  "2022"   ].resample(   "M"   )   [   ['Open']   ].mean()

result.index =    result.index.month_name() #replace index values with month name

result = result.rename_axis(  "Month"   ) #rename the index axis as "Month"

result = result.rename(     columns={   "Open" :    "Average_Open"    }       )

result #print final output

           Average_Open
Month
January      170.201500
February     169.635262
March        164.806956
April        167.479001
May          148.324286
June         139.945714
July         148.436499
August       166.956522
September    153.284286
October      144.105716
November     146.057143
December     138.735716

In [42]:
### Average Quarterly Open price for data in 2022

### step1: fetch data for 2022
### step 2: resample according to Quarter
### step 3: Find the Open column
### step 4: Average calculation

In [43]:
result = df.loc[     "2022",   ["Open"]     ].resample("Q").mean()

#result.index should be a list of values in the format Q{number} where number 
#will be obtained from result.index.quater
result.index = [    f"Q{number}" for number in result.index.quarter        ]

result = result.rename_axis("Quarter")

result  = result.rename(  columns={"Open" : "Average_Open"}     )

result

         Average_Open
Quarter
Q1         168.026774
Q2         151.665323
Q3         156.682812
Q4         142.966191

### Average Annual  Open, Close and Volume values for all data

### step 2: resample according to Year
### step 3: Find the Open column
### step 4: Average calculation

In [46]:
# get results for 3 columns annual average
result = df[["Open", "Close", "Volume"]].resample("Y").mean()

#index should be modified with original index year part!
result.index = result.index.year

#rename the index as "Year"
result = result.rename_axis ("Year")

#mapping of old column name and new column name
mapping = { "Open" : "Average_Open", "Close" : "Average_Close", "Volume" : "Average_Volume"}

#renaming done here
result = result.rename(  columns=mapping   )

result

      Average_Open  Average_Close  Average_Volume
Year
2013     16.820671      16.807312    3.806217e+08
2014     23.054958      23.066164    2.526109e+08
2015     30.043938      30.010000    2.073976e+08
2016     26.126944      26.151002    1.536901e+08
2017     37.611225      37.637769    1.085383e+08
2018     47.277859      47.263357    1.360803e+08
2019     51.967272      52.063988    1.121228e+08
2020     95.267668      95.347075    1.575646e+08
2021    140.861866     140.989365    9.052463e+07
2022    154.802709     154.835060    8.791008e+07
2023    139.419643     140.232499    7.586493e+07

### Average Quarterly closing price for data in 2022

### step1: fetch data for 2022
### step 2: resample according to Quarter
### step 3: Find the Close column
### step 4: Average calculation

In [47]:
result = df.loc[     "2022",   ["Close"]     ].resample("Q").mean()

#result.index should be a list of values in the format Q{number} where number 
#will be obtained from result.index.quater
result.index = [    f"Q{number}" for number in result.index.quarter        ]

result = result.rename_axis("Quarter")

result  = result.rename(  columns={"Close" : "Average_Close"}     )

result

         Average_Close
Quarter
Q1          168.163549
Q2          151.439194
Q3          156.950468
Q4          142.911110

In [49]:
pe.bar(    y="Average_Close", data_frame=result    )