In [1]:
import pandas as pd
import plotly.express as pe

In [3]:
n1 = 10                    #int

name = "Harshit"           #str

#multi-line string
paragraph = """This is line 1
This is line 2
This is line 3"""

salary = 2456.76           #float

#formatted string
msg = f"My name is {name}. My salary is {salary}. Tax on my salary is {0.1 * salary}"

print(msg)

My name is Harshit. My salary is 2456.76. Tax on my salary is 245.67600000000004

### data collections/data containers/data structure

In [6]:
      #  0        1       2         3    4       5      
data = [19.21,  10.21, "Harshit",  100, -10,  [10,20,30]  ] #list : a collection of values mutable

print(f"data before modification {data}")

data[1] = 999 #indexing

print(f"Data after modification {data}")

data before modification [19.21, 10.21, 'Harshit', 100, -10, [10, 20, 30]]
Data after modification [19.21, 999, 'Harshit', 100, -10, [10, 20, 30]]

In [8]:
data = (19.21,  10.21, "Harshit",  100, -10,  [10,20,30]  ) #tuple : a collection of values immutable
data = (100,200)
print(f"data before modification {data}")

data[1] = 999 #indexing

print(f"Data after modification {data}")

data before modification (100, 200)

TypeError: 'tuple' object does not support item assignment

### dictionary : label  :   value i.e   key  : value pairs

##### every item in a dictionary is a combination of key and values


### dictionary is created using HASH TABLE

In [12]:
employee={
    "name" : "Harshit",
    "age" :  28,
    "skills" : ["python","java","DA","ML"]
}

print(employee)

print( f'My skills are   {   employee.get("skills")    }'  )

{'name': 'Harshit', 'age': 28, 'skills': ['python', 'java', 'DA', 'ML']}
My skills are   ['python', 'java', 'DA', 'ML']

### conditional programming

In [ ]:
age =  int(        input("Enter a value: ")          )

if age >= 18 :
    print("You are eligible to vote")
else:
    print("You cannot vote")

In [ ]:
number = int(      input("Enter a number: ")     )


#number divisible by 4 and number divisible by 5

if number % 4 == 0    and     number % 5 == 0 :
    print("first case")

#number divisible by 7
elif number % 7 == 0:
    print("second case")

#number divisible by 10
elif number % 10 == 0:
    print("third case")
    
#otherwise
else:
    print("last case")

video
hackerrank
assignment
---------------
pandas and plotly basic practice!

## loops in programming

In [13]:
### for loop

In [14]:
for number in range(5):
    print(number)

0
1
2
3
4

In [17]:
for number in range(3):
    print(number)
    print( (number+10)  %  3 == 0)

0
False
1
False
2
True

In [18]:
for count in range(3):
    number = int(input("Enter a number: "))
    print(f"{number} square is {number * number}")

3 square is 9
10 square is 100
15 square is 225

In [20]:
#count starts from 1, count goes to all values LESS THAN 11, count is increased by +1

number = int(input("Enter a number: "))

for count in range(1,11,1):
    print(f"{number} multiplied by {count} = {number * count}")

5 multiplied by 1 = 5
5 multiplied by 2 = 10
5 multiplied by 3 = 15
5 multiplied by 4 = 20
5 multiplied by 5 = 25
5 multiplied by 6 = 30
5 multiplied by 7 = 35
5 multiplied by 8 = 40
5 multiplied by 9 = 45
5 multiplied by 10 = 50

In [21]:
# for each loop

In [22]:
data = [100, 200, 300]

#operation: to print 10 times of each value in data

for value in data:
    print(value * 10)

1000
2000
3000

In [23]:
data = [100, 200, 300]

#operation: to check if each value in data in divisible by 4

for value in data:
    print(value % 4 == 0)

True
True
True

In [24]:
#operation : print square of each value in data

data = [10,20,30,40]

for value in data:
    print(value * value)

100
400
900
1600

In [28]:
2 ** (1/2)

1.4142135623730951

In [26]:
data = [100, 200,"Harshit" , 300]

#operation: to print square of integers only in data

#for each value in data:
for value in data:

    #check if value is of type integer
    if isinstance(value, int):
        #if yes, print square
        print(value * value)

10000
40000
90000

In [30]:
# take a number as input from the user. print the square of the number. 
# REPEAT THIS TILL USER PROVIDES INPUT AS 0

number = 1

while number != 0 :
    number = int(input("Enter a number: "))
    print(f"{number} squared is: {number * number}")

10 squared is: 100
5 squared is: 25
11 squared is: 121
16 squared is: 256
19 squared is: 361
21 squared is: 441
4 squared is: 16
19 squared is: 361
0 squared is: 0

In [32]:
for count in range(1,11,1):
    if count % 7 == 0:
        break
    print(f"{count} squared is: {count ** 2}")

1 squared is: 1
2 squared is: 4
3 squared is: 9
4 squared is: 16
5 squared is: 25
6 squared is: 36

In [33]:
# take a number as input from the user. print the square of the number. 
# REPEAT THIS TILL USER PROVIDES INPUT AS 0

number = 1

while number != 0 :
    number = int(input("Enter a number: "))
    if number < 0 : #negative
        break
    print(f"{number} squared is: {number * number}")

10 squared is: 100
20 squared is: 400
30 squared is: 900

## functions/routine

In [35]:
#to take a number from the user & print the square of the number

def square():
    number = int(input("Enter a number: "))
    print(f"{number} squared is: {number * number}")

In [36]:
print("hello")

square()

hello
14 squared is: 196

In [37]:
print("this is a test")
square()

this is a test
15 squared is: 225

# software developer & software engineer?

# software engineer?: Margaret Hamilton!

In [40]:
def addition(  x : int or float ,  y : int or float   ) :

    if isinstance(  x ,   (int,float)   )    and     isinstance(y,   (int,float)   ):
        print(x + y)
    else:
        print("invalid values")

In [41]:
addition(  10, 20   )

addition(10.21,  10.21)

addition("harshit", " shukla")

addition([1,2,3] ,  [4,5,6])

addition(  10, "harshit"     )

30
20.42
invalid values
invalid values
invalid values